# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

src/models/mongo/schema.prisma
src/models/mongo/generated
src/models/postgre/schema.prisma
src/models/postgre/generated

package-lock.json
lib
.nvmrc