# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

src/models/mongo/schema.prisma
src/models/mongo/genereted
src/models/postgre/schema.prisma
src/models/postgre/genereted

package-lock.json

lib

.nvmrc